<div class="row">
    <div class="col">
        <button class="btn btn-info" type="submit">Save</button>
    </div>
    <div class="col">
        <a class="btn btn-success" asp-area="Admin" asp-controller="Category" asp-action="Index">Back To List</a>
    </div>
</div>